{% extends 'base.html' %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-lg-4">
        <form action="/do_create_note" method="post">
            <fieldset>
                <div class="form-group row">
                    {{ form.title.label }}
                    {{ form.title(class="form-control", placeholder="Task title") }}
                </div>
                <div class="form-group row">
                    {{ form.category.label }}
                    {{ form.category(class="form-control")}}
                </div>
                <div class="form-group row">
                    {{ form.priority.label }}
                    {{ form.priority(class="form-control")}}
                </div>
                <div class="form-group row">
                    {{ form.status.label }}
                    {{ form.status(class="form-control")}}
                </div>
                <div class="form-group row">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}