{% extends "base.html" %}

{% block body %}
<h1>notes template yo</h1>
<div class="row">
    {% for note_set in notes %}
    <div class="kanban-panel bg-light col-lg-4">
        <h2>{{ categories[loop.index-1] }}</h2>
        {% set count = loop.index %}
        {% for note in note_set %}
        <div class="card {% if note[3] == 'Parked' -%}
        text-white bg-secondary
        {%- elif note[2] == 'Low' -%}
        bg-warning
        {%- elif note[2] == 'Normal' -%}
        text-white bg-primary
        {%- elif note[2] == 'High' -%}
        text-white bg-danger
        {%- endif %}">
            <div class="card-header">
                <strong>{{ note[1] }}</strong>
            </div>
            <div class="card-body">
                <p><strong>Priority: </strong>{{ note[2] }}</p>
                <p><strong>Status: </strong>{{ note[3] }}</p>
                <p><strong>Category: </strong>{{ note[4] }}</p>
                <p><strong>Added: </strong>{{ note[5] }}</p>
            </div>
            <div class="card-body actions">
                <div class="float-left">
                    <a href="/notes/decrease_priority/{{ note[0] }}" class="btn btn-outline-light {% if note[3] == 'Parked' or note[2] == 'Low' %}disabled{% endif %}" data-toggle="popover" data-trigger="hover" data-content="Increase priority"><i class="material-icons">arrow_downwards</i></a>
                    <a href="/notes/demote/{{ note[0] }}" class="btn btn-outline-light{% if count == 1 %} disabled{% endif %}"><i class="material-icons" data-toggle="popover" data-trigger="hover" data-content="Move to previous column">arrow_backward</i></a>
                    <a href="/notes/promote/{{ note[0] }}" class="btn btn-outline-light{% if count == categories|length %} disabled{% endif %}"><i class="material-icons" data-toggle="popover" data-trigger="hover" data-content="Move to next column">arrow_forward</i></a>
                    <a href="/notes/increase_priority/{{ note[0] }}" class="btn btn-outline-light{% if note[3] == 'Parked' or note[2] == 'High' %} disabled{% endif %}" data-toggle="popover" data-trigger="hover" data-content="Decrease priority"><i class="material-icons">arrow_upwards</i></a>
                </div>
                <div class="float-right">
                    <a href="/notes/delete/{{ note[0] }}" class="btn btn-outline-light " data-toggle="popover" data-trigger="hover" data-content="Delete this note"><i class="material-icons">delete_forever</i></a>
                    {% if note[3] == 'Active' %}
                    <a href="/notes/make_parked/{{ note[0] }}" class="btn btn-outline-light" data-toggle="popover" data-trigger="hover" data-content="Archive this note"><i class="material-icons">archive</i></a>
                    {% else %}
                    <a href="/notes/make_active/{{ note[0] }}" class="btn btn-outline-light" data-toggle="popover" data-trigger="hover" data-content="Un-archive this note"><i class="material-icons">restore</i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
